:root {
    --dkviolet: hsl(256, 26%, 20%);
    --grayblue: hsl(216, 30%, 68%);
    --vdkviolet: hsl(270, 9%, 17%);
    --dkgrayviolet: hsl(273, 4%, 51%);
    --vltgray: hsl(0, 0%, 98%);
    --dkgray: #2b282f;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: var(--dkgrayviolet);
    margin: 0;
    max-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
    color: var(--vdkviolet);
}

ul {
    padding-left: none;
    margin-bottom: 25px;
    text-align: center;
}

ul h6 {
    color: var(--dkgrayviolet);
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25;
    
    margin: 20px auto;
}

li {
    list-style: none;
}

li a {
    color: var(--dkviolet);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 2.25;
    letter-spacing: 0.5px;
}

li a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background: white;
    top: 0;
    z-index: 20;
}

.logo {
    padding: 30px 20px;
}

/* NAVIGATION */
#desktop-nav {
    display: none;
}

#mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#mobile-nav input {
    display: none;
}

#mobile-nav label {
    padding: 25px 20px;
}

#mobile-nav input:checked ~ label span:last-child {
    display: none;
}

#mobile-nav input:not(:checked) ~ label span:first-child {
    display: none;
}

#mobile-nav ul::before {
    background-image: url('../images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 215px;
}

#mobile-nav ul {
    visibility: hidden;
    display: none;
    flex-direction: column;
    color: var(--vltgray);
    background: var(--dkgray);
    padding-left: 0;
    position: fixed;
    height: 600px;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 10px;
}

#mobile-nav ul li {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

#mobile-nav ul li a {
    color: var(--vltgray);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 3;
}

#mobile-nav ul li a:hover {
    text-decoration: none;
}

#mobile-nav ul li:last-child {
    border: 2px solid white;
    width: 80%;
    max-width: 250px;
    align-self: center;
}

#mobile-nav ul li:last-child:hover {
    background: white;
}

#mobile-nav ul li:last-child:hover a {
    color: var(--dkviolet);
    font-weight: bolder;
}

#mobile-nav input:checked ~ ul {
    visibility: visible;
    display: flex;
    background: var(--dkgray);
}

/* INTRO */
#intro {
    display: flex;
    flex-direction: column-reverse;
}

#intro div img {
    width: 100%;
    height: auto;
    padding-top: 80px;
}

#intro .wrapper {
    background: var(--dkviolet);
    display: grid;
    grid-template-rows: 1fr;
    margin-top: -5px;
    height: 530px;
}

#intro .wrapper::before {
    background-image: url('../images/bg-pattern-intro-left-mobile.svg');
    content: '';
    z-index: 1;
    height: 175px;
    position: relative;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

#intro .text-wrapper::after {
    background-image: url('../images/bg-pattern-intro-right-mobile.svg');
    position: relative;
    background-repeat: no-repeat;
    content: '';
    height: 350px;
    z-index: 1;
    top: -50px;
    right: 0;
    bottom: 0;
    left: calc(100% - 126px);
    width: 126px;
}

#intro .text-wrapper {
    display: grid;
    grid-template-rows: repeat(3, auto);
    position: relative;
}

#intro .spacer {
    display: none;
}

#intro .wrapper h1,
#intro .wrapper p,
#intro .wrapper a {
    color: white;
    text-align: center;
    padding: 10px 25px;
}

#intro .wrapper h1 {
    font-size: 2.75rem;
    line-height: 1;
    margin: -100px auto 0;
    position: relative;
    z-index: 2;
}

#intro .wrapper p {
    line-height: 1.75;
}

button {
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    justify-self: center;
    align-self: start;
    padding: 10px 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    margin-top: 1.5rem;
}

button:hover {
    background: white;
    color: var(--dkgrayviolet);
    font-weight: bolder;
}

/* ABOUT */
#about {
    display: grid;
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    align-items: center;
}

#about .spacer {
    border-bottom: 1px solid var(--grayblue);
    content: '';
    margin: 8rem auto 0;
    width: 50%;
}

#about h2 {
    font-size: 2.75rem;
    font-weight: 400;
    margin-top: 1.5rem;
}

.about-item {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
    width: 85%;
    margin-bottom: 30px;
}

#about h3 {
    font-size: 1.5rem;
    margin: 20px auto 10px;
    position: relative;
}

/* HOW WE WORK */
.card {
    background: var(--dkviolet);
    background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 85%;
    margin: 0 auto 8rem;
    overflow: hidden;
    display: grid;
}

.card h2 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    z-index: 2;
    margin-bottom: 2rem;
}

.card button {
    margin: 0 auto 4rem;
}

/* FOOTER */
footer {
    background: var(--vltgray);
}

#logo-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 195px;
    background-image: url('../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-social img:first-of-type {
    max-width: 30%;
    height: auto;
    margin: 5rem auto 2rem;
}

#logo-social #social-icons {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--dkgrayviolet);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-social #social-icons a img {
    margin: 8px;
    max-width: 75%;
}

#logo-social #social-icons a:hover img {
    filter: brightness(50%);
}

#footer-sitemap {
    padding: 2rem 0 3rem;
}

#footer-sitemap ul {
    padding-left: 0;
}

/* ATTRIBUTION */
.attribution {
    border-top: 1px solid var(--dkgrayviolet);
    padding: 1rem 0;
}

/* ===== MEDIA QUERY ===== */
@media (min-width: 725px) {
    /* HEADER & NAV */
    header {
        justify-content: center;
    }

    #mobile-nav {
        display: none;
    }

    #desktop-nav {
        max-width: 1048px;
        display: flex;
        width: 100%;
    }

    #desktop-nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-right: 20px;
    }

    #desktop-nav ul li {
        margin-right: 20px;
    }

    #desktop-nav ul li a {
        color: var(--dkgrayviolet);
        font-size: 1rem;
    }

    nav ul li:last-child {
        border: 2px solid var(--dkviolet);
        width: auto;
        padding: 0 30px;
        align-self: center;
    }
    
    #desktop-nav ul li:last-child a {
        color: var(--dkviolet);
    }

    #desktop-nav ul li:hover a {
        color: var(--vdkviolet);
        text-decoration: none;
    }

    #desktop-nav ul li:last-child:hover {
        background: var(--dkviolet);
    }

    #desktop-nav ul li:last-child:hover a {
        color: white;
        text-decoration: none;
    }

    /* INTRO */
    #intro {
        flex-direction: row;
        position: relative;
        background: var(--dkviolet);
    }

    #intro::before {
        background-image: url('../images/bg-pattern-intro-right-desktop.svg');
        background-repeat: no-repeat;
        background-size: 95%;
        position: absolute;
        top: 40px;
        right: 0;
        content: '';
        height: 600px;
        width: 350px;
        z-index: 3;
    }

    #intro::after {
        background-image: url('../images/bg-pattern-intro-left-desktop.svg');
        background-repeat: no-repeat;
        background-size: 50%;
        position: absolute;
        top: 75%;
        left: 0;
        content: '';
        height: 600px;
        width: 300px;
        z-index: 10;

    }

    #intro .wrapper::before,
    #intro .text-wrapper::after {
        background-image: none;
        display: none;
    }

    #intro .wrapper {
        width: 50%;
        max-width: 600px;
        position: relative;
        height: auto;
        margin: 140px auto 100px;
        justify-items: end;
    }

    #intro .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }

    #intro .wrapper h1,
    #intro .wrapper p {
        text-align: left;
        padding-left: 0;
    } 
    
    #intro .wrapper h1 {
        margin: 0;
        font-size: 3.5rem;
        width: 80%;
    }

    #intro .wrapper p {
        font-size: 0.85rem;
    }

    #intro .spacer {
        display: block;
        border-top: 1px solid white;
        content: '';
        width: 100px;
        margin-bottom: 3rem;
    }

    #intro #intro-image {
        width: 50%;
        max-width: 600px;
        overflow: visible;
        position: relative;
        border: 1px solid yellow;
    }

    #intro #intro-image img {
        width: 80%;
        min-width: 350px;
        max-width: 450px;
        margin: 60px auto 0 10px;
        position: absolute;
    }

    /* ABOUT */
    #about {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-gap: 30px;
        max-width: 1200px;
        margin: 100px auto 100px;
        padding: 0 20px;
    }

    #about .spacer,
    #about h2 {
        grid-column: 1 / -1;
        justify-self: start;
        margin-left: 0;
    }

    #about h2 {
        font-weight: 700;
    }

    #about .spacer {
        width: 100px;
    }

    .about-item {
        justify-items: start;
        text-align: left;
        width: 100%;
    }

    #about h3 {
        margin: 20px 0 10px;
    }
    #about p {
        text-align: left;
    }

    /* HOW WE WORK */
    .card {
        max-width: 1200px;
        height: 200px;
        grid-template-columns: 50% 50%;
        align-items: center;
        grid-template-areas: "text . button";
        background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
        background-size: 400px;
    }

    .card h2 {
        width: 80%;
        max-width: 400px;
        text-align: left;
        justify-self: center;
        margin: 0 auto;
    }

    .card button {
        justify-self: center;
        align-self: end;
        margin: auto;
        margin-right: 5rem;
    }

    /* FOOTER */
    footer {
        background: url('../images/bg-pattern-footer-desktop.svg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 35%;
        margin: 0 auto;
        width: 100vw;
    }

    #logo-social {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        border-bottom: 1px solid var(--dkgrayviolet);
        margin: 0 auto;
        background-image: none;
        height: 80px;
        padding: 0 30px;
    }

    #logo-social img:first-of-type {
        width: 50%;
        max-width: 100px;
        margin: auto;
        margin-left: 0;
    }

    #logo-social #social-icons {
        border-bottom: none;
        width: 50%;
        margin: auto;
        margin-right: 0;
        justify-content: flex-end;
        padding-bottom: 0;
    }

    #footer-sitemap {
        max-width: 1200px;
        padding: 0 30px 2rem;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    #footer-sitemap ul {
        text-align: left;
        width: 20%;
    }
}