:root {
    --dkviolet: hsl(256, 26%, 20%);
    --grayblue: hsl(216, 30%, 68%);
    --vdkviolet: hsl(270, 9%, 17%);
    --dkgrayviolet: hsl(273, 4%, 51%);
    --vltgray: hsl(0, 0%, 98%);
    --dkgray: #2b282f;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: var(--dkgrayviolet);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
    color: var(--vdkviolet);
}

/* HEADER */
header {
    position: fixed;
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    background: white;
    top: 0;
    z-index: 10;
}

.logo {
    float: left;
    padding: 30px 20px;
}

/* NAVIGATION */
#desktop-nav {
    display: none;
}

nav input {
    display: none;
}

nav label {
    float: right;
    padding: 20px 30px;
}

nav input:checked ~ label span:last-child {
    display: none;
}

nav input:not(:checked) ~ label span:first-child {
    display: none;
}

nav ul {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--vltgray);
    width: 100vw;
    height: 93vh;
    /* height: 400px; */
    background: var(--dkgray);
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    width: 100%;
    border: 1px solid yellow;
    text-align: center;
}

nav ul li:last-child {
    background-image: url('../images/bg-pattern-mobile-nav.svg');
    background-size: cover;
    content: '';
    height: 100px;
}

nav ul li a {
    color: var(--vltgray);
    text-transform: uppercase;
    text-decoration: none;
}

nav input:checked ~ ul {
    visibility: visible;
    background: var(--dkgray);
}

footer {
    background: var(--vltgray);
}